fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
psycopg[binary]
python-dotenv
openai==1.30.5
httpx==0.27.0
boto3
celery[redis]
redis
python-multipart
bcrypt
python-jose[cryptography]
google-auth
email-validator
dnspython